global
    maxconn 20000
    daemon
defaults
    mode    tcp
    option  redispatch
    option  dontlognull
    retries 3
listen      stats
    stats   enable
    bind    :9000
    mode    http
    stats   uri /

frontend kubernetes-api
    bind *:8443
frontend kubernetes-api
    balance              source
    server    kubespray1 {{ .Values.network.node1.ipv4 }}:6443 check check-ssl verify none inter 10000
    server    kubespray2 {{ .Values.network.node2.ipv4 }}:6443 check check-ssl verify none inter 10000
    server    kubespray3 {{ .Values.network.node3.ipv4 }}:6443 check check-ssl verify none inter 10000

frontend                 ingress-http
    default_backend      ingress-http
    bind                 *:80
backend                  ingress-http
    balance              source
    server     clusterlb {{ .Values.network.vrrp.ipv4 }}:80  check

frontend                 ingress-https
    default_backend      ingress-https
    bind                 *:443
backend                  ingress-https
    balance              source
    server     clusterlb {{ .Values.network.vrrp.ipv4 }}:443 check check-ssl verify none inter 10000
